<div style="text-align:center;">
    <h2><%= link_to "形態素解析", translation_index_path %></h2>
    <h2><%= link_to "タイピング", typings_index_path %></h2>
    <h2><%= link_to "お試し　テスト", tests_index_path %></h2>
</div>