<div style="margin: 0 auto; text-align: center;">
    <h1 id="idname">キー判定　練習</h1>

    <h1 id="problem">タイピング練習</h1>
    <h3 id="key_test">　</h3>
    <button id="reset_btn">リセット</button>
</div>


<%# javascript使用 %>
<%= javascript_pack_tag 'key' %>
