<div id="ajax-test">
    <% if results %>
        <% results.each do |result| %>
            <h4 style="border-top: 1px solid; padding: 20px 50px; margin:0;"><%= result.test_text %></h4>
        <% end %>
    <% end %>
</div>

<%
=begin
%>
<div id="ajax-test">
     <h4><%= results.test_text %></h4>
</div>
<%
=end
%>