<div>
<button id="button"><h1 id="text">ゲームスタート</h1></button>
</div>
<canvas id="myCanvas" width="800" height="600" style="background-color: black;"></canvas>

<%# image_tag '/assets/sakura.png' %>

<%# javascript使用 %>
<%= javascript_pack_tag 'game' %>